body {
  font-family: 'Titillium Web', sans-serif;
}

.sidenav {
  height: 100%;
  width: 35%;
  position: fixed;
  text-align: right;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(72, 45, 253, 1) 95%);
  overflow-x: hidden;
  padding: 0.5rem 1rem 0 0;
}

#header {
  background-attachment: fixed;
  background-image: url('about.jpg');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: white;
  height: 100vh;
  left: 0;
  padding: 0.5rem 1rem 0 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 35%;
}

.main {
  margin-left: 35%;
}

#main {
  background-color: rgb(233, 236, 239);
}

section {
  background-color: white;
}

strong {
  color: white;
  font-size: 1.6em;
}

h1 {
  color: white;
  font-size: 1em;
  line-height: 1.75em;
  margin: 0;
}

#footer {
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: right;
  width: 33%;
}


.copyright {
  color: white;
  font-size: 0.9em;
  list-style: none;
  margin: (0.25rem * 0.5) 0 0 0;
  padding: 0;
}



.copyright a {
  color: inherit;
}

.copyright li {
  display: inline;
}

.social-link {
  width: 40px;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  background: #9A031E;
  font-size: 0.8rem;
}

.social-link:hover,
.social-link:focus {
  color: #fff;
  text-decoration: none;
}

.social-link-facebook {
  background: #4460ae;
}

.social-link-twitter {
  background: #3cf;
}

.social-link-instagram {
  background: #cd4378;
}

.social-link-google-plus {
  background: #c21f25;
}

.social-link-angel {
  background: rgb(112, 111, 111);
}

.fa-twitter,
.fa-github,
.fa-linkedin,
.fa-angellist,
.fa-file {
  font-size: 25px;
}

.title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px
}

.content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  border: 8px outset #1371d6;
  border-radius: 8px;
  box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.3);
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  height: 100%;
}

.content:hover .content-overlay,
.content:active .content-overlay {
  opacity: 1
}

.content-image {
  width: 100%
}

img {  
  border-radius: 1px
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase
}

.content-details p {
  color: #fff;
  font-size: 1.2em;
}

.fadeIn-bottom {
  top: 80%
}

.fa-desktop,
.fa-html5,
.fa-css3-alt,
.fa-lightbulb,
.fa-js-square,
.fa-user,
.fa-react {
  font-size: 25px;
  color: #007bff;
}

@media only screen and (max-width: 850px) {
  h1 {
    font-size: 0.8em;
  }

  strong {
    font-size: 1.35em;
  }

  .fa-twitter,
  .fa-github,
  .fa-linkedin,
  .fa-angellist,
  .fa-file {
    font-size: 16px;
  }

  .social-link {
    width: 26px;
    height: 26px;
  }

  .content-details h3 {
    color: #fff;
    font-size: 1.5em;
  }

  .content-details p {
    color: #fff;
    font-size: 1.1em;
    margin-top: 1.1rem !important;
  }


}

@media screen and (max-width: 645px) {
  .sidenav {
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    height: 195px;
  }

  #header {
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    height: 195px;
    justify-content: flex-start !important;
  }

  #footer {
    top: 155px;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 25px;
  }

  .main {
    margin-left: 0;
    width: 100%;
    margin-top: 195px;
  }

  .copyright {
    display: none;
  }

  .content:hover .content-overlay {
    opacity: 1;
    display: block;
  }

  .content-details h3 {
    color: #fff;
    font-size: 3vw;
  }

  .content-details p {
    color: #fff;
    font-size: 3vw;
    margin-top: 1.1rem !important;
  }

}