body {
  font-family: 'Titillium Web', sans-serif;
}

#navbar {
  display: none;
}

.sidenav {
  height: 100vh;
  width: 35%;
  position: fixed;
  text-align: right;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(72, 45, 253, 1) 95%);
  overflow-x: hidden;
  padding: 0.5rem 1rem 0 0;
}

#header {
  color: white;
  height: 100vh;
  left: 0;
  padding: 0.5rem 1rem 0 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 35%;
}

.main {
  margin-left: 35%;
}

#main {
  background-color: rgb(233, 236, 239);
}

section {
  background-color: white;
}

.projectLinks {
  display: none;
}

strong {
  color: white;
  font-size: 1.6em;
}

h1 {
  color: white;
  font-size: 1em;
  line-height: 1.75em;
  margin: 0;
}

#footer {
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: right;
  width: 33%;
}


.copyright {
  color: white;
  font-size: 0.9em;
  list-style: none;
  margin: (0.25rem * 0.5) 0 0 0;
  padding: 0;
}



.copyright a {
  color: inherit;
}

.copyright li {
  display: inline;
}

.social-link {
  width: 40px;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  background: #9A031E;
  font-size: 0.8rem;
}

.social-link:hover,
.social-link:focus {
  color: #fff;
  text-decoration: none;
}

.social-link-facebook {
  background: #4460ae;
}

.social-link-twitter {
  background: #3cf;
}

.social-link-instagram {
  background: #cd4378;
}

.social-link-google-plus {
  background: #c21f25;
}

.social-link-angel {
  background: rgb(112, 111, 111);
}

.fa-twitter,
.fa-github,
.fa-linkedin,
.fa-angellist,
.fa-file {
  font-size: 25px;
}

.title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px
}

.content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  border: 8px outset #1371d6;
  border-radius: 8px;
  box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.3);
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  height: 100%;
}

.content:hover .content-overlay,
.content:active .content-overlay {
  opacity: 1
}

.content-image {
  width: 100%
}

img {  
  border-radius: 1px
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase
}

.content-details p {
  color: #fff;
  font-size: 1.2em;
}

.fadeIn-bottom {
  top: 80%
}

.fa-desktop,
.fa-html5,
.fa-css3-alt,
.fa-lightbulb,
.fa-js-square,
.fa-user,
.fa-react {
  font-size: 25px;
  color: #007bff;
}

#about {
  background-color: rgb(233, 236, 239);
}

.about-text p {
  font-size: 18px;
  font-weight: 500;
}

.links {
  text-align: right;
  position: relative;
  z-index: 2;
}

.links a {
  color: white;
  font-weight: 600;
  padding-right: 5px;
  text-decoration: none;
}

label {
  color: #007bff;
  font-weight: bolder;
}

.drop {
  display: none;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 1em;
    height: 100px;
  }
  .sidenav {
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    height: 195px;
  }

  #header {
    width: 100%;
    position: fixed;
    text-align: left;
    z-index: 1;
    top: 0;
    height: 145px;
    justify-content: flex-start !important;
    padding-left: 15px;
  }

  #footer {
    top: 145px;
    position: fixed;
    text-align: right;
    width: 100%;
    height: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main {
    margin-left: 0;
    width: 100%;
    margin-top: 195px;
  }

  .copyright {
    display: none;
  }

  .content:hover .content-overlay {
    opacity: 1;
    display: block;
  }

  .content-details h3 {
    color: #fff;
    font-size: 3vw;
  }

  .content-details p {
    color: #fff;
    font-size: 3vw;
    margin-top: 1.1rem !important;
  }

}

@media screen and (max-width: 768px) {  
  .sidenav {
    display: none;
  }
  #navbar {
    display: block;
    position: fixed;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(72, 45, 253, 1) 95%);
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    color: white;
  }

  #navbar a {
    color: white;
    font-weight: 600;
  }

  #navbar p {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 0;
  }

  .main {
    margin-top: 65px;
  }

  .projectLinks {
    display: flex;
    font-size: 0.7rem;
    justify-content: space-between;
  }

  .projectLinks p {
    margin-bottom: 0;
    padding: 0;
    color: #1371d6;
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
  }

  .projectLinks ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-bottom: 0;
    padding: 0.3rem;
  }

  .projectLinks ul li a{
    color: #1371d6;
    font-size: 0.8rem;
  }

  .drop {
    display: block;
  }

}